* {
  padding: 0;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  box-sizing: border-box;
  list-style: none;
  border-collapse: collapse;
}

table,th,td{
  border : 1px solid white;
}

body.chart_body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  & > header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3vh 3vw;
    background-color:white;
    z-index:100;
  }
  & > content {
    display:flex;
    flex-direction: column;
    gap:10vh;
    width: 100%;
    padding: 5%;
    /* 1. 바차트 */
    & > div#graph {
      display: flex;
      flex-direction: column;
      & > div.chart-out-line {
        width: 100%;
        height: 60vh;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 10px;
        & > div.chart-inner-box-y {
          display: flex;
          flex-direction: row;
          width:100%;
          height:95%;
          & > div#chart-inner-layer {
            width: 95%;
            height: 100%;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items:end;
            & .chart_bar{
              max-width:100px;
              position:relative;
              &:hover::after{
                content:attr(data-value);
                position:absolute;
                left:-3vw;
                white-space: pre-line;
                font-size:1vw;
                background-color: white;
                padding:0.5rem;
                border-radius:5px;
              }
            }
          }
          & > div.chart-inner-y-axis {
            width: 5%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & > p {
              font-size: 2vw;
              text-align: right;
              padding-right: calc(2vw - 5px);
            }
          }
        }
        & > div#chart-inner-x-axis {
            width: 95%;
            height: 5%;
            display:flex;
            justify-content: space-around;
            font-size:1.5vw;
          }
      }
    }
    /* 2. 값 편집 테이블 */
    & #value-edit-inner-table{
      width:100%;
      & > .value-edit-inner-table-head > tr > th{
        background-color:#bbb;
        color:white;
      }
      & > #value-edit-inner-table-body:nth-child(2n+1){
        background-color:#eee;
      }
      & > #value-edit-inner-table-body:nth-child(2n){
        background-color: #ddd;
      }
    }
    /* 3. 값 추가 input */
    & > div#value-add-func{
      &>div#value-add-func-group{
        display:flex;
        gap:0.5rem;
        position:relative;
          width:100%;
          &::after{
            content:attr(data-text);
            color:red;
            position:absolute;
            bottom:-1.5rem;
          }
    
        & input{
          font-size:1.2rem;
          padding:0.2rem;
         
          &#value-add-id-input{
            width:15%;
            &::after{
              position:absolute;
              top:0;
              content:attr(data-text);
              background-color:yellow;
            }
          }
          &#value-add-value-input{
            width:70%;
          }
        }
       
      }
    }

    /* 4. 값 고급 편집 */
    &>div#value-pro-edit{
      &>div#value-pro-edit-group{
        background-color: #eee;
        border:1.2px solid;
        width:100%;
        position:relative;
        &::after{
          content:attr(data-pro);
          color:red;
          position:absolute;
          bottom:-1.5rem;
        }
      }
    }

  }
}

/* 버튼 통일 */
.im_btn{
  padding: 0 0.7rem;
  letter-spacing: 0.05rem;
  font-size:1.25rem;
  margin-left:auto;
}

.block{
  display:block;
}
h3{
  font-weight:400;
}